<center>
<h1><%= @animal.name %></h1>
<p>
  <%= @animal.name %> is a <%= @animal.age %>-year-old <%= @animal.kind %>. <%= @animal.name %> enjoys <%= @animal.food %>.
</p>
<br>
<a href="/"><button>Home</button></a><br><br>
<%= link_to 'Edit', [:edit, @animal], class:"editLink" %>
