<p id="notice"><%= notice %></p>

<center>
  <br><br><br>
  <%= link_to 'New Post', new_post_path %>
  <br><br>
</center>
<br>

  <% @posts.each do |post| %>
  <br>
    <table>
      <tr>
        <td class="postTitle"><%= post.title %></td>
      </tr>
      <tr>
        <td class="postUser"><br>This post was made by <a style="background-color: transparent; padding: 0px; font-family: 'Open Sans', sans-serif; font-size: 13px; border-bottom: 2px solid #ead1dc; " href="/users/<%= post.user %>" >User <%= post.user %></a> in <%= post.area %>.<br><br></td>
      </tr>
      <tr style="margin-bottom: 20px;">
        <td class="postContent"><%= post.content %></td>
      </tr>
      <tr>
          <td>
            <center><br><%= link_to 'Post Page', post %> &nbsp; <%= link_to 'Edit', edit_post_path(post) %>
          </td>
      </tr>
    </table>
    <br>
  <% end %>

<br>
